<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1>User name</h1>
    </div>
    <div class="col-sm-2"><a href="/users" class="float-right"><img title="profile image" class="img-circle img-responsive"
          src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>


      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
      </div>


      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="float-left"><strong>Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="float-left"><strong>Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="float-left"><strong>Posts</strong></span> 37</li>
        <li class="list-group-item text-right"><span class="float-left"><strong>Followers</strong></span> 78</li>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <ngb-tabset [justify]="'justified'">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="tab-title"><h4>Profile</h4></span>
          </ng-template>
          <ng-template ngbTabContent>
            <profile-form></profile-form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <span class="tab-title"><h4>Projects</h4></span>
          </ng-template>
          <ng-template ngbTabContent></ng-template>
        </ngb-tab>
      </ngb-tabset>
      <!--/tab-pane-->
    </div>
    <!--/tab-content-->

  </div>
  <!--/col-9-->
</div>
<!--/row-->
