<div class="container">
  <div class="login-page mx-auto">
    <div class="form">
      <form [formGroup]="signinForm" (ngSubmit)="register()" class="register-form">
        <input name="username" placeholder="username" type="text" formControlName="username" />
        <input type="password" placeholder="password" formControlName="password" />
        <input type="text" placeholder="email address" formControlName="email" />
        <button [disabled]="signinForm.invalid" type="submit">create</button>
        <p class="message">Already registered?
          <a routerLink="/user/login">Sign In</a></p>
      </form>
      <h3 class="alert-light">{{message}}</h3>
    </div>
  </div>
  <!-- <p>{{signinForm | json}}</p> -->
