<div class="form-group">
  <form (ngSubmit)="createProject(projectForm)" #projectForm="ngForm">
    <div class="project-title">
      <label class="block" for="title">Title</label>
      <input class="form-control"
             type="text"
             name="title"
             #projectTitle="ngModel"
             [(ngModel)]="project.title"
             required
             minlength="3">
      <div class="alert-danger" *ngIf="projectTitle.errors && projectTitle.errors.required">Title field is mandatory</div>
      <!-- #name="ngModel" to expose the value of Input -->
    </div>
    <div class="project-type">
      <label for="type">Type</label>
      <select class="form-control" name="type" required>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
  </form>
</div>
<p>Class {{lol.className}}</p>
